.hidden {
    display: none!important;
}

div#gameboardTable {
    position: relative;
    display: contents;
    width: 100%;
    height: 100%;
}

img#gameboard {
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#toggleInstruction {
    position: absolute;
    bottom: 3px;
    left: 3px;
    cursor: pointer;
}

tarot-card#card0 {
    position: absolute;
    top: 8vh;
    margin: 0 auto;
    right: 81vh;
    left: 0;
    bottom: 0;
    height: 34.1vh;
    width: 22.6vh;
}

tarot-card#card1 {
    position: absolute;
    bottom: 13vh;
    margin: 0 auto;
    right: 60vh;
    left: 0;
    height: 34.1vh;
    width: 22.6vh;
}

tarot-card#card2 {
    position: absolute;
    bottom: 13vh;
    margin: 0 auto;
    left: 66vh;
    right: 0;
    height: 34.1vh;
    width: 22.6vh;
}

tarot-card#card3 {
    position: absolute;
    top: 8vh;
    margin: 0 auto;
    left: 83vh;
    right: 0;
    bottom: 0;
    height: 34.1vh;
    width: 22.6vh;
}