div#datesContainer {
    height: 100%;
    display: inline-grid;
    z-index: 1;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
}

div#datesContainer .customButton{
    font-family: fantasy;
    color: black;
}

div#datesContainer .customButton:active{
    font-family: fantasy;
    color: #00f3ff;
}